.create-session {
    width: 100vw;
    @include center-column;
    padding-top: 5rem;
    padding-bottom: 5rem;

    &__heading {
        @include heading;
        margin-bottom: 5rem;
    }

    &__p {
        @include p-text;
        margin-bottom: 1rem;
    }

    &__label {
        @include p-text;;
    }

    &__light-p {
        @include light-p-text;
    }

    &__form-container {
        width: 30%;
        min-width: 35rem;
        @include center-column;
    }

    &__input {
        @include input;
    }

    &__input::placeholder {
        text-align: left;
    }

    &__input:focus::placeholder {
        color: transparent;
    }

    &__input:focus {
        text-align: left;
    }

    &__name-city-div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem
    }

    &__form-div {
        width: 100%;
        margin-bottom: 3rem

    }

    &__text-area {
        @include text-area;
    }

    &__text-area::placeholder {
        @include light-p-text;
        text-align: left;
    }

    &__select-div {
        padding-bottom: 1rem;
    }

    &__checkbox-input {
        margin-right: 1rem;
    }

    &__extra-learner-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 3.5rem
    }

    &__participant-no-div {
        width: 100%;
        margin-bottom: 3.5rem
    }

    &__participant-no {
        @include p-text;
        padding: 6px;
        background: $light-mist;
        border: none;
        border-radius: 4px;
    }

    &__pricing-container {
        width: 100%;
        margin-bottom: 3rem
    }

    &__pricing-div {
        display: flex;
        justify-content: space-between;
    }

    &__pricing-input-div {
        display: flex;
        width: 48%;
        background: $light-mist;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        border-radius: 4px;
        margin-bottom: 3rem
    }

    &__number-input {
        @include p-text;
        background: $light-mist;
        border: none;
        width: 2.5rem;
        margin-right: 1rem;
    }

    &__number-input:focus {
        text-align: left;
    }

    &__radio-div {
        padding-bottom: 1rem;
    }

    &__radio-input {
        margin-right: 1rem;
    }

    &__photo-upload-container {
        width: 100%;
        margin-bottom: 3.5rem
    }

    &__img-upload-btn::-webkit-file-upload-button {
        @include outline-btn;
        @include p-text;
    }

    &__img-upload-btn-one {
        margin-bottom: 1rem;
    }

    &__photo-display-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.5rem
    }

    &__photo-display {
        width: 48%;
        height: 10rem;
    }

    &__final-text {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    &__btn {
        @include solid-btn;
        font-family: $text-font !important;
        color: white !important;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}