.login-form {
    // @include center;
    // flex-direction: column;

    &__heading {
        @include heading;
    }

    &__form {
        margin-top: 2rem;
    }

    &__form-div {
        margin-bottom: 1rem;
    }

    &__label {
        @include p-text;
    }

    &__input {
        @include input;
    }

    &__btn {
        @include solid-btn;
        margin-top: 2rem;
    }
}