$text-font: 'Roboto', sans-serif;
$feature-font: 'Shrikhand', cursive;

$light-mist: #F8F8F8;
$text-colour: #2b2b2b;
$light-text-colour: #909090;
$light-outline: #E5E5E5;
$feature-red: #F37777;
$signature-colour: #0FAFC8;
$pale-blue: rgb(246, 251, 255);